#CHARACTERNAME-faceClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/faceClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-hairClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/hairClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftEyebrowClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/helmet.leftEyebrowClothesg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightEyebrowClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/helmet.rightEyebrowClothesg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftEyeClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/leftEyeClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightEyeClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/rightEyeClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-eyesClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/eyesClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-noseClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/noseClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-beardClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/beardClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-mouthClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/mouthClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-headClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/headClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftUpperarmClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/helmet.leftUpperarmClothesg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftForearmClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/helmet.leftForearmClothesg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftToolClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/leftToolClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightUpperarmClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/helmet.rightUpperarmClothesg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightForearmClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/helmet.rightForearmClothesg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightToolClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/rightToolClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-chestClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/chestClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-tailClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/tailClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftThighClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/leftThighClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftCalfClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/leftCalfClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-leftFootClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/leftFootClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightThighClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/rightThighClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightCalfClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/rightCalfClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#CHARACTERNAME-rightFootClothes {
    background-image: url("../../img/clothes/CHARACTERNAME/rightFootClothes.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
