#TytusBomba-headClothes {
    background-image: url("../../img/clothes/head/TytusBomba0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-leftUpperarmClothes {
    background-image: url("../../img/clothes/upperarm/Human0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-rightUpperarmClothes {
    background-image: url("../../img/clothes/upperarm/Human0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-leftForearmClothes {
    background-image: url("../../img/clothes/forearm/Human0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-rightForearmClothes {
    background-image: url("../../img/clothes/forearm/Human1.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-leftToolClothes {
}

#TytusBomba-rightToolClothes {
}
#TytusBomba-chestClothes {
    background-image: url("../../img/clothes/chest/TytusBomba0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-leftThighClothes,
#TytusBomba-rightThighClothes {
    background-image: url("../../img/clothes/thigh/TytusBomba0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-leftCalfClothes,
#TytusBomba-rightCalfClothes {
    background-image: url("../../img/clothes/calf/TytusBomba0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
#TytusBomba-leftFootClothes,
#TytusBomba-rightFootClothes {
    background-image: url("../../img/clothes/foot/TytusBomba0.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
